

  <mat-card>
    <mat-card-title>Material Cards</mat-card-title>
   <mat-card-content>
       <h3>Standard Card</h3>
      <mat-card>
        <mat-card-title>Standard Card</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
        <mat-card-content>
          <p>Do play they miss give so up. Words to up style of since world. We leaf to snug on no need. Way
            own uncommonly travelling now acceptance bed compliment solicitude. Dissimilar admiration so
            terminated no in contrasted it. Advantages entreaties mr he apartments do. Limits far yet turned
            highly repair parish talked six. Draw fond rank form nor the day eat. </p>
        </mat-card-content>
      </mat-card>
    
      <h3>Standard Card with Actions</h3>
      <mat-card>
        <mat-card-title>Standard Card with Actions</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
        <mat-card-content>
          <p>Old there any widow law rooms. Agreed but expect repair she nay sir silent person. Direction
            can dependent one bed situation attempted. His she are man their spite avoid. Her pretended
            fulfilled extremely education yet. Satisfied did one admitting incommode tolerably how are. </p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button>Cancel</button>
          <button color="primary" mat-raised-button>Action</button>
        </mat-card-actions>
      </mat-card>
      
       <h3>Image + Action Card</h3>
         <mat-card>
            <mat-card-header>
              <img mat-card-avatar src="http://images.eonline.com/eol_images/Entire_Site/2015726//rs_60x60-150826095331-a2fdbe6a_smile.xxxlarge.jpg">
              <mat-card-subtitle>
                Yesterday
              </mat-card-subtitle>
              <mat-card-title>Gerald Morris</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="http://images.all-free-download.com/images/graphiclarge/beautiful_scenery_04_hd_pictures_166258.jpg">
            <mat-card-content>
              <p>Piqued favour stairs it enable exeter as seeing. Remainder met improving but engrossed sincerity age. Better but length gay denied abroad are. Attachment astonished to on appearance imprudence so collecting in excellence. Tiled way blind lived whose new. The for fully had she there leave merit enjoy forth. </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-icon-button>
                  <mat-icon>share</mat-icon>
                </button>
                <button mat-icon-button>
                  <mat-icon>favorite</mat-icon>
                </button>
                <span fxFlex></span>
                <button mat-button>
                  More Info
                </button>
                <button mat-button>
                  Save as
                </button>
            </mat-card-actions>
          </mat-card>
    </mat-card-content>
  </mat-card>
  
  
